/aclocal.m4
/autom4te.cache
/autoregen.sh
bindings/java/AllJunitTests
bindings/java/BindingTests.class
bindings/java/com/
bindings/java/com_entrouvert_lasso_LassoJNI.c
bindings/java/com_entrouvert_lasso_LassoJNI.h
bindings/java/lasso.jar
bindings/java/LoginTest.class
bindings/perl/blib/
bindings/perl/Lasso.bs
bindings/perl/Lasso.c
bindings/perl/Lasso.pm
bindings/perl/Lasso.xs
bindings/perl/Makefile.perl
bindings/perl/Makefile.perl.old
bindings/perl/pm_to_blib
bindings/perl/typemap
bindings/php5/_lasso.c
bindings/php5/lasso.php
bindings/php5/php_lasso.h
bindings/python/_lasso.c
bindings/python/lasso.py
/build*
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
.deps
docs/reference/lasso/html/*
docs/reference/lasso/html.stamp
docs/reference/lasso/lasso.args
docs/reference/lasso/lasso-decl-list.txt
docs/reference/lasso/lasso-decl.txt
docs/reference/lasso/lasso.hierarchy
docs/reference/lasso/lasso.interfaces
docs/reference/lasso/lasso.prerequisites
docs/reference/lasso/lasso.signals
docs/reference/lasso/lasso-undeclared.txt
docs/reference/lasso/lasso-undocumented.txt
docs/reference/lasso/sgml.stamp
docs/reference/lasso/xml/*
/.gitignore
/gtk-doc.make
/install-sh
*.la
.libs
*.lo
/ltmain.sh
/m4/gtk-doc.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
/missing
/missing-dist.py
*.o
*-?.png
*.pyc
stamp-??
*-?.svg
tests/integration/saml2/config.py
config.h
config.log
config.status
docs/reference/lasso/version.xml
lasso-src-config
lasso/lasso_config.h
lasso/symbols.sym
lasso/types.c
libtool
tests/integration/result.xml
tests/perfs
tests/result.xml
tests/tests
tests/tests2
win32/lasso.rc
win32/msvc/lasso.dsp
win32/msvc/lasso_config.h
win32/nsis/jlasso-lite.nsi
win32/nsis/lasso-deps.nsi
win32/nsis/lasso-full.nsi
win32/nsis/lasso-lite.nsi
win32/nsis/python.nsi
docs/lasso-book/book.html
docs/lasso-book/figures/slo-sp-soap.png
docs/lasso-book/figures/sso-brws-art.png
docs/lasso-book/figures/sso-brws-post.png
docs/lasso-book/writing-a-c-sp.html
docs/lasso-book/writing-a-java-sp.html
docs/lasso-book/writing-a-php-sp.html
docs/lasso-book/writing-a-saml2-php-sp.html
docs/reference/lasso/html-build.stamp
docs/reference/lasso/scan-build.stamp
docs/reference/lasso/sgml-build.stamp
/lasso-?.?.?.tar.gz
/lasso.pc
